/* Master CSS
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.form-inline > .form-group {
  vertical-align: top;
}

body {
  /* Margin bottom by footer height 
-------------------------------------------------- */
  margin-bottom: 50px;
  padding-top: 2rem;
  height: 100%;
  color: #353841;
}

.home {
  text-align: center;
  padding: 10% 1.5rem;
}

body > .container {
  padding: 60px 15px 20px 15px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* Padding for spacing 
-------------------------------------------------- */
.inner {
  padding: 0.2rem;
  padding-left: 10%;
  padding-right: 10%;
}

/* Modal lay out 
-------------------------------------------------- */
.modal-content {
  color: #353841;
}

/* Usermodal lay out 
-------------------------------------------------- */
h5 {
  color: #EF5E57;
  font-size: 20px;
  line-height: 1;
  font-weight: 200;
}

.usermodal .modalitem {
  margin-bottom: 12px;
}

/* FAQ toggle
-------------------------------------------------- */
.toggle:last-child {
  border-bottom: 1px solid lightgrey;
}

.toggle .toggle-title {
  position: relative;
  display: block;
  border-top: 1px solid lightgrey;
  margin-bottom: 6px;
  cursor: pointer;
  cursor: hand;
}

.toggle .toggle-title .toggle-h5 {
  margin: 0px;
}

.toggle .toggle-inner {
  padding: 7px 25px 10px 25px;
  display: none;
  margin: -7px 0 6px;
}

.toggle .toggle-inner div {
  max-width: 100%;
}

.toggle .toggle-title .title-name {
  display: block;
  padding: 25px 25px 14px;
}

.toggle .toggle-title a i {
  font-size: 22px;
  margin-right: 5px;
}

.toggle .toggle-title i {
  position: absolute;
  background: url("../images/plus_minus.png") 0px -24px no-repeat;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin: 20px;
  right: 0;
}

.toggle .toggle-title.active i {
  background: url("../images/plus_minus.png") 0px 0px no-repeat;
}

/* Covers & avatars
-------------------------------------------------- */
.balance_cover {
  border-radius: 20%;
  height: 120px;
  width: 120px;
  max-height: 20vmin;
  max-width: 20vmin;
}

.balancetitle {
  z-index: 20;
  position: relative;
  font-size: 100%;
}

.backdropline {
  z-index: -10;
  position: relative;
  padding-bottom: 10px;
}

.balance_cover_hover {
  border-radius: 20%;
  height: 185px;
  width: 185px;
  position: absolute;
  right: 0;
  top: 50px;
}

@media (max-width: 768px) {
  .balance_cover_hover {
    display: none;
  }
}

.balance_cover_hover:hover {
  opacity: 0.9;
}

.balance_cover:hover {
  -webkit-box-shadow: 0 0 2px 1px #EF5E57;
          box-shadow: 0 0 2px 1px #EF5E57;
}

.middle {
  -webkit-transition: 0s ease;
  transition: 0s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.middle:hover {
  opacity: 1;
}

.text {
  font-size: 16px;
  padding: 90px 90px;
}

/* Dashboard
-------------------------------------------------- */
.overview {
  list-style-type: none;
}

.tableline {
  border-bottom: 1.5pt solid #ECEEEF;
}

.table-hover > tbody > tr.nohover:hover > th,
.nohover > td {
  background-color: #FFFFFF;
}

/* Table 
-------------------------------------------------- */
.invisiblerow {
  opacity: 0.3;
}

.invisiblerow td:not(.noline) {
  text-decoration: line-through;
}

.invisibletd {
  opacity: 0;
  pointer-events: none;
}

.positive {
  color: green;
}

.negative {
  color: red;
}

/* Buttons 
-------------------------------------------------- */
.plus {
  color: #EF5E57;
}

.plus:hover {
  color: #353841;
  text-decoration: none;
}

.btnsecondary {
  background-color: #fff;
  color: #EF5E57;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.btnsecondary:hover, .btnsecondary:focus, .btnsecondary:active {
  background-color: #EF5E57;
  color: #fff;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-primary {
  border-color: #EF5E57;
  color: #EF5E57;
}

.btn-outline-primary:hover, .btn-outline-primary:active, btn-outline-primary:focus, .btn-primary:active:focus {
  background-color: #EF5E57 !important;
  border-color: #EF5E57 !important;
  color: white !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-primary {
  background-color: #EF5E57;
  border: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
  background-color: #353841 !important;
  border: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.facebook {
  background-color: #4267B2;
}

.btn {
  cursor: pointer;
  cursor: hand;
}

.btnextra {
  cursor: pointer;
  cursor: hand;
}

/* nav & 
-------------------------------------------------- */
.navbar-collapse.collapse.in {
  display: block !important;
}

.navbar-light {
  background-color: #EF5E57;
  color: #fff;
}

.navbar-brand {
  color: #fff !important;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 1.2;
}

.custom-toggler.navbar-toggler {
  border-color: #fff;
  border-width: 1.5px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler:active, .custom-toggler.navbar-toggler:focus, .custom-toggler.navbar-toggler:hover {
  outline: none !important;
}

.nav-link {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5) !important;
}

.nav-link.active {
  color: #fff !important;
}

.nav-link:hover, .nav-link:focus {
  color: rgba(255, 255, 255, 0.85) !important;
}

/* footer 
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
}

.invertedfooter, .invertedfooter a:hover, .invertedfooter a {
  color: #fff;
  background-color: #EF5E57;
}

.normalfooter, .normalfooter a, .normalfooter a:hover {
  color: #EF5E57;
  background-color: #fff;
}
